$break-small: 600px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


#container {
    
    @include respond-to(handhelds) { width: 100% ; margin: 0;}
    @include respond-to(medium-screens) { width: 75%; }
    @include respond-to(wide-screens) { width: 50%; }
}
#alllogs td, #alllogs th{
  @include respond-to(handhelds){
    display: none;
  }
}
 #alllogs th:first-child,#alllogs th:nth-child(2),#alllogs th:nth-child(3), #alllogs td:first-child,#alllogs td:nth-child(2),#alllogs td:nth-child(3), #alllogs td:last-child{
  @include respond-to(handhelds){
    display: table-cell;
  }
}
label{
  @include respond-to(medium-screens){
    display: inline-block;
    margin: .6% 0;
  }
  @include respond-to(handhelds){
    display: block;
    margin: .7% .5%;
  }
}

textarea{
  @include respond-to(handhelds){
    width: 100%;
  }
}
header h1, .ftext{
  @include respond-to(handhelds){
    font-size: 80%;
    
  }
}
#filter_button{
  @include respond-to(handhelds){
    width: 50%;
    margin: .9% .5%;
  }
  @include respond-to(wide-screens){
    width: 10%;
    margin: .5% .5%;
  }
  @include respond-to(medium-screens){
    width: 30%;
    margin: .5% .5%;
  }
}